.body__bottom{
    flex: 4;
    display: flex;
    flex-direction: column;

    .dropdown-container{
        display: flex;
        gap: var(--gap-sm);
        padding: var(--padding-sm) 0;
    }

    .body__buttons{
        flex: 1;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(7, 1fr);
        gap: 2px;
        align-items: start;
        justify-items: start;
        padding: var(--padding-sm);

        button {
            min-width: 0;
            overflow: hidden;
        }

        .active{
            background-color: var(--color-accent);
            color: var(--background-dark);
        }

        .inverse{
            display: none;
        }
    }

    .show-inverse{
        .inverse{
            display: block;
        }

        .default{
            display: none;
        }
    }
}