.history-toggle, .history-delete{
    border: none;
    border-radius: var(--rounded-md);
    background-color: transparent;
    color: inherit;
    transition: background-color .2s ease;
    padding: var(--padding-sm);

    &:hover{
        background-color: var(--color-button-light);
    }
}

.calculator-button {
    width: 100%;
    height: 100%;
    border: none;
    font-size: var(--text-md);
    border-radius: var(--rounded-md);
    background-color: var(--color-button-light);
    color: inherit;
    white-space: nowrap;

    &:hover{
        filter: brightness(130%);
    }
    
    &:focus-visible{
        outline: 2px solid var(--color-text-muted);
    }
}

.button-dark {
    background-color: var(--color-button-dark);
}

.button-equals {
    background-color: var(--color-accent);
    color: var(--color-text-muted);

    &:hover{
        filter: brightness(80%);
    }
}

.button__title-wrapper{
    border: none;
    background-color: transparent;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .title-text{
        font-size: var(--text-sm);
        display: inline-block;
        padding: var(--padding-sm);
    }

    .title-underline{
        width: 30%;
        height: .4rem;
        background-color: var(--color-accent);
        border-radius: var(--rounded-md);
    }
}