.u-icon{
    color: inherit;
    width: var(--text-md);
    vertical-align: middle;
    aspect-ratio: 1/1;
}

.u-icon-chevron{
    color: inherit;
    width: var(--text-sm);
    vertical-align: middle;
    aspect-ratio: 1/1;
}

.u-icon-dropdown{
    color: inherit;
    width: var(--text-sm);
    /* vertical-align: middle; */
    aspect-ratio: 1/1;
}